/* TODO: Set media query to max width 450px (NEXUS5) */
@media screen and (max-width: 450px) {
    .container {
        width: 100%;
    }
    
    .flexible {
        flex-direction: column;
    }

    .feature {
        width: 100%;
    }
    #banner div {
        width: 100%;
    }
   
    #logo {
        width: auto;
        margin: auto;
        display: block;
    }
    ul {
        text-align: center;
    }    
}

/* TODO: Set media query between min width 451px and max width 768px (IPAD) */
@media screen and (min-width: 451px) and (max-width:768px){
    
    #banner div:last-child {
        margin-left: 20%;

    }
    #logo {
        margin: 30% auto !important;
    }
}

/* TODO: Set media query between min width 769px (Desktop) */
@media screen and (min-width: 769px){
    .container {
        max-width: 1300px;
        margin: 0 auto;
    }
    .feature {
        width: 33.3%;
    }

    #banner div {
        width: 50%;
    }

    .feature:nth-child(1) {
        padding-left: 0;
    }

    .feature:nth-child(3) {
        padding-right: 0;
    }
    
}

/* Set border-box to all elements */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Set background color and font family */
body {
    background-color: #f1eee5;
    font-family: 'Exo', sans-serif;
}

h1{
    font-size: 3em;
}

h2 {
    font-size: 1.5;
}

/* TODO: Style flexible class to set flex-box display  */
.flexible {
    display: flex;
    flex-wrap: wrap;
}

/* Set border bottom and margin bottom to the page header */
#banner {
    border-bottom: 5px solid #545d4c;
    margin-bottom: 14px;
}

/* Set Center class To align text to center  */
.center {
    text-align: center;
}

/* set image width to fit to the main container */
img {
    width: 100%;
    height: auto;
}

.rounded {
    border-radius: 10px;
}

#logo{
    width: auto;
    margin: 4% auto;
}

/*TODO: Set featured work section */
.feature {
    padding:5px;
}

h2 {
    font-size: 2em;
    margin: 0;
}

p {
    font-size: 1.5em;
}

#description {
    
    margin: 10px 20px;
}

#featured-title {
    margin: 10px;
}

.block {
    display: block;
}

a {
    text-decoration: none;
    color: #545d4c;
    padding: 1.5em;
}

a:hover {
    color: #3d4932;
    font-weight: bold;
}

.hovered:hover {
    box-shadow: 1px 1px 10px #333;
}

/* TODO Set Footer syle */
footer a {
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    justify-content: space-between;
}